.header {
  background-color: rgb(50, 167, 145);
}

.flex-container {
  display: flex;
}

.flex-container form {
  justify-content: space-around;
  align-items: center;
}

.flex-container header {
  justify-content: space-between;
}

#main-container {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}