* {
  margin: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  padding: 0 20px;
}

.flex-container {
  display: flex;
}

.trybewarts-login.flex-container {
  align-items: center;
}

.header.flex-container {
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  width: 90px;
}

#main-container {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}
