* {
  margin: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  padding: 0 20px;
}

.flex-container {
  display: flex;
}

.trybewarts-login.flex-container {
  align-items: center;
}

.header.flex-container {
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  width: 90px;
}

#ft {
  justify-content: center;
}

#main-container {
  display: flex;
  margin: 1%;
}

#evaluation-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 1%;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#section-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 98%;
}

#input-name {
  display: flex;
  margin: 1%;
  width: 48%;
}

#input-lastname {
  display: flex;
  margin: 1%;
  width: 48%
}

#section-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 98%;
}

#input-email {
  display: flex;
  margin: 1%;
  width: 48%
}

#houseContainer {
  display: flex;
  margin: 1%;
  width: 48%;
}

#section-three {
  border-top: solid rgb(211, 206, 206) 2px;
  border-bottom: solid rgb(211, 206, 206) 2px;
  display: flex;
  align-items: flex-start;
  padding: 5%;
  margin: 5%;
}

#family-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 1%;
}

#toLearn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  margin: 1%;
}

#section-four {
  display: flex;
  justify-content: center;
  margin: 1%;
  width: 98%;
}

#label-rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#text-and-counter {
  position: relative;
}

#text-and-counter span {
  position: absolute;
  top: 65px;
  left: 235px;
}

#section-five {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1%;
}
